* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primrary-color: hsl(332, 51%, 32%);
    --secondry-color: hsl(30, 10%, 34%);
    --section-margin-inline: 4rem;

    --inner-items-gap: 1rem;
    --title-font-size: 1.8rem;
    --title-font-weight: 700;
    --title-inlin-margin: 1rem;
    --section-padding: 2rem;

    --sub-section-gap: 0.9rem;
    --sub-font-weight: 300;
    --sub-font-size: 1.5rem;
}

body {
    background: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.square {
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    width: 70rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

img {
    display: block;
    margin: auto;
    width: 90%;
    height: 10%;
    border-radius: 2rem;
}

.title {
    font-size: 3rem;
    font-family: 'Young Serif', serif;
    font-weight: 400;
    margin-inline: var(--section-margin-inline);
}

p {
    display: block;
    margin-inline: var(--section-margin-inline);
    font-weight: 400;
    font-size: 2rem;
    color: var(--secondry-color);
}

.prepration {
    margin-inline: var(--section-margin-inline);
    background: hsl(330, 100%, 98%);
    display: flex;
    flex-direction: column;
    gap: var(--inner-items-gap);
    padding: var(--section-padding);
}

.prepration h2 {
    color: var(--primrary-color);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    margin-inline: var(--title-inlin-margin);
}

.prepration ul {
    color: var(--secondry-color);
    margin-inline: var(--section-margin-inline);
    display: flex;
    flex-direction: column;
    gap: var(--sub-section-gap);
    font-weight: var(--sub-font-weight);
    font-size: var(--sub-font-size);
}

.boldt {
    font-weight: 600;
}

.ingrediants {
    display: flex;
    flex-direction: column;
    margin-inline: var(--section-margin-inline);
    gap: var(--inner-items-gap);
    padding: var(--section-padding);
}

.ingrediants h2 {
    color: var(--primrary-color);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    margin-inline: var(--title-inlin-margin);
}


.ingrediants ul {
    color: var(--secondry-color);
    margin-inline: var(--section-margin-inline);
    display: flex;
    flex-direction: column;
    gap: var(--sub-section-gap);
    font-weight: var(--sub-font-weight);
    font-size: var(--sub-font-size);
}

hr {
    opacity: 30%;
}

.instructors {
    display: flex;
    flex-direction: column;
    margin-inline: var(--section-margin-inline);
    gap: var(--inner-items-gap);
    padding: var(--section-padding);
}

.instructors h2 {
    color: var(--primrary-color);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    margin-inline: var(--title-inlin-margin);
}

.instructors ol {
    color: var(--secondry-color);
    margin-inline: var(--section-margin-inline);
    display: flex;
    flex-direction: column;
    gap: var(--sub-section-gap);
    font-weight: var(--sub-font-weight);
    font-size: var(--sub-font-size);
}

.nut {
    display: flex;
    flex-direction: column;
    margin-inline: var(--section-margin-inline);
    gap: var(--inner-items-gap);
    padding: var(--section-padding);
}

.nut h2 {
    color: var(--primrary-color);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    margin-inline: var(--title-inlin-margin);
}

.nut p {
    font-size: 2rem;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-inline: var(--section-margin-inline);
}

table td {
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: var(--secondry-color);
    width: 50%;
    font-size: var(--sub-font-size);
}

table .val {
    font-size: var(--sub-font-size);
    color: var(--primrary-color);
    font-weight: var(--title-font-weight);
}

table tr:last-child td {
    border: none;
}

.attribution {
    font-size: var(--sub-font-size);
    text-align: center;
}